# Environment
.env
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtual environment
venv/
env/
.venv/


# Data (may contain sensitive/copyrighted data)
data/*.csv
data/*.tsv

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
